<app-header titulo="Cards"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ipsa odit quod,
      repudiandae soluta ut? Assumenda beatae debitis doloremque fuga illo in ipsam natus porro,
      praesentium sapiente suscipit,
      velit voluptates.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="danger">
      <ion-icon name="pin" slot="start" color="light">
        <ion-label>Marcador</ion-label>
      </ion-icon>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur, incidunt?
      Assumenda et eveniet fugit id iste laudantium maxime molestiae nulla placeat quis.
      Dolore ex impedit inventore nostrum provident similique!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="tertiary">
      <ion-title>Título</ion-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Ad consectetur dignissimos, dolor ducimus eligendi eos fuga illo ipsa labore natus neque nisi omnis porro quae,
      quas repellat repudiandae sapiente similique!
    </ion-card-content>
  </ion-card>

</ion-content>
